.content{
    position: relative;
    z-index: 100;
}

.background{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

html, body {
  height: 100%;
  margin: 0
}

.bubble-container {
  height: 100%;
  background: hsl(0, 0, 95);
  overflow: hidden;
}

.bubble1 {
  position: fixed;
  transform: translate(-33%, -33%) rotate(0) scale(1);
  left: 0;
  top: 0;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><defs><radialGradient id="gradient"><stop stop-color="%23bc4e9c" /><stop offset="100%" stop-color="%23f80759" /></radialGradient></defs><g><path style="fill: url(%23gradient)" d="M84.257 250.031c5.956-102.416 93.528-158.07 165.181-155.5 107.912 3.871 151.332 52.884 165.181 155.5 11.164 82.724-49.281 157.038-165.181 155.5-79.094-1.049-170.073-71.378-165.181-155.5z"/></g></svg>') no-repeat;
  background-size: auto;
  width: 300px;
  height: 300px;
  transform-origin: center;
  animation: bubble 8s ease-in-out 8s infinite alternate;
  opacity: 0.5;
}
.bubble2 {
  position: fixed;
  transform: translate(-33%, -33%) rotate(0) scale(1);
  left: 90%;
  top: 10%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><defs><radialGradient id="gradient"><stop stop-color="%232196f3" /><stop offset="100%" stop-color="%23f44336" /></radialGradient></defs><g><path style="fill: url(%23gradient)" d="M84.257 250.031c5.956-102.416 93.528-158.07 165.181-155.5 107.912 3.871 151.332 52.884 165.181 155.5 11.164 82.724-49.281 157.038-165.181 155.5-79.094-1.049-170.073-71.378-165.181-155.5z"/></g></svg>') no-repeat;
  background-size: auto;
  width: 700px;
  height: 700px;
  transform-origin: center;
  animation: bubble 9s ease-in-out 9s infinite alternate;
  opacity: 0.5;
}
.bubble3 {
  position: fixed;
  transform: translate(-33%, -33%) rotate(0) scale(1);
  right: 0;
  top: 60%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><defs><radialGradient id="gradient"><stop stop-color="%23FFF" /><stop offset="100%" stop-color="%23076585" /></radialGradient></defs><g><path style="fill: url(%23gradient)" d="M84.257 250.031c5.956-102.416 93.528-158.07 165.181-155.5 107.912 3.871 151.332 52.884 165.181 155.5 11.164 82.724-49.281 157.038-165.181 155.5-79.094-1.049-170.073-71.378-165.181-155.5z"/></g></svg>') no-repeat;
  background-size: auto;
  width: 400px;
  height: 400px;
  transform-origin: center;
  animation: bubble 4s ease-in-out 4s infinite alternate;
  opacity: 0.3;
}
.bubble4 {
  position: fixed;
  transform: translate(-33%, -33%) rotate(0) scale(1);
  right: 0;
  bottom: 0;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><defs><radialGradient id="gradient"><stop stop-color="%23f8ffae" /><stop offset="100%" stop-color="%2343c6ac" /></radialGradient></defs><g><path style="fill: url(%23gradient)" d="M84.257 250.031c5.956-102.416 93.528-158.07 165.181-155.5 107.912 3.871 151.332 52.884 165.181 155.5 11.164 82.724-49.281 157.038-165.181 155.5-79.094-1.049-170.073-71.378-165.181-155.5z"/></g></svg>') no-repeat;
  background-size: auto;
  width: 200px;
  height: 200px;
  transform-origin: center;
  animation: bubble 4s ease-in-out 4s infinite alternate;
  opacity: 0.6;
}
.bubble5 {
  position: fixed;
  transform: translate(-33%, -33%) rotate(0) scale(1);
  left: 0;
  top: 50%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><defs><radialGradient id="gradient"><stop stop-color="%23ff8008" /><stop offset="100%" stop-color="%23ffc837" /></radialGradient></defs><g><path style="fill: url(%23gradient)" d="M84.257 250.031c5.956-102.416 93.528-158.07 165.181-155.5 107.912 3.871 151.332 52.884 165.181 155.5 11.164 82.724-49.281 157.038-165.181 155.5-79.094-1.049-170.073-71.378-165.181-155.5z"/></g></svg>') no-repeat;
  background-size: auto;
  width: 900px;
  height: 900px;
  transform-origin: center;
  animation: bubble 9s ease-in-out 9s infinite alternate;
  opacity: 0.3;
}
.bubble6 {
  position: fixed;
  transform: translate(-33%, -33%) rotate(0) scale(1);
  left: 30%;
  top: 80%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><defs><radialGradient id="gradient"><stop stop-color="%23bc4e9c" /><stop offset="100%" stop-color="%23f80759" /></radialGradient></defs><g><path style="fill: url(%23gradient)" d="M84.257 250.031c5.956-102.416 93.528-158.07 165.181-155.5 107.912 3.871 151.332 52.884 165.181 155.5 11.164 82.724-49.281 157.038-165.181 155.5-79.094-1.049-170.073-71.378-165.181-155.5z"/></g></svg>') no-repeat;
  background-size: auto;
  width: 300px;
  height: 300px;
  transform-origin: center;
  animation: bubble 8s ease-in-out 8s infinite alternate;
  opacity: 0.2;
}

@keyframes bubble {
  from {
    transform: translate(-33%, -33%) rotate(0) scale(1);
  }
  50% {
    transform: translate(-33%, -33%) rotate(-20deg) scale(1.05);
  }
  to {
    transform: translate(-33%, -33%) rotate(40deg) scale(0.95);
  }
}
