<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="assets/output.css">
    <link rel="stylesheet" type="text/css" href="assets/bubbles.css">
    <title>Trudi</title>
</head>
<body>
    <div class="mx-auto">
        <header class="flex bg-gray-50 h-20 justify-center items-center">
            <div class="flex space-x-10 justify-center items-center ml-auto">
                <div class="hidden md:block">Swiss made</div>
                <img src=/assets/logo_small.png alt-text="trudi logo" class="w-40 -m-t-25">
                <div class="hidden md:block">Natural soap</div>
            </div>
            <div class="rounded-full bg-gray-200 p-2 ml-auto mr-2 text-center"><a href="/">How to order</a></div>
        </header>
        <main>
            <div class="content">
                {{ content }}
            </div>
            <div class="background">
                <div class="bubble-container">
                  <div class="bubble1"></div>
                  <div class="bubble2"></div>
                  <div class="bubble3"></div>
                  <div class="bubble4"></div>
                  <div class="bubble5 hidden md:block"></div>
                  <div class="bubble6 hidden md:block"></div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>

